@charset "UTF-8";

#home-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

#logo-container {
	margin: 2rem 0;
}

#nickname-container, #difficulties-container {
	margin-bottom: 1.5rem;
}

input[type="text"], select {
	background-color: #f3f3f3;
	border: none;
	font-size: 1rem;
	padding: 0.2rem;
	width: 15rem;
}

input[type="submit"], a {
	background-color: #ffbb00;
	border: 2px solid #223552;
	box-shadow: 4px 4px 0px #223552;
	color: #0a254d;
	font-size: 1rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.3s;
}

input[type="submit"]:hover, a:hover {
	background-color: #ffd159;
	box-shadow: none;
	transition: 0.3s;
}

input[type="submit"], select {
	cursor: pointer;
}

label {
	color: #223552;
	font-size: 1.2rem;
	margin-bottom: 0.2rem;
}

img {
	animation: rotation 6s infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(-180deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}