@charset "UTF-8";

table {
	border-top: 5px solid #ffbb00;
	background-color: #223552;
	font-size: 1.2rem;
	margin: 3rem auto;
	text-align: left;
	width: 40%;
}

th, td {
	padding: 1rem;
}

th {
	color: #ffbb00;
}

td {
	color: #fafafa;
}

#pagination {
	border: 1px solid #0a254d;
	box-shadow: 0.2rem 0.2rem 0 #223552;
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;
	justify-content: space-evenly;
	margin: auto auto;
	text-align: center;
	width: 30%;
}

.page-item {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;
}

.page-link {
	background-color: #ffbb00;
	border: 1px solid #0a254d;
	color: #0a254d;
	height: 100%;
	padding: 0.2rem 0.4rem;
	text-decoration: none;
	width: 100%;
	transition: 0.3s;
}

.page-link:hover, #page-link-active {
	background-color: #0a254d;
	color: #ffbb00;
	transition: 0.3s;
}